.breakfast_container {
    & ._breakfast_content {
        background-color: var(--primary-dark);

        & ._inner {
            width: var(--section-width);
            padding: 3rem 0;
            display: flex;

            @media (max-width: 991px) {
                flex-direction: column-reverse;
                margin: 0 auto;

                & ._right_box {
                    margin-bottom: 1.5rem;
                }
            }

            @media (min-width: 992px) {
                & ._left_box,
                & ._right_box {
                    width: calc(100% / 2);
                }

                & ._left_box {
                    margin-right: 50px;
                }
            }


            & ._left_box {
                & img {
                    width: 100%;
                }
            }

            & ._right_box {
                & p:nth-child(2) {
                    text-align: start;
                    margin-top: 2rem;
                }

                & p:last-child {
                    color: #fff;
                    opacity: .5;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
}