.wedding_container {
    & .wedding_intro {

        background-color: var(--secondary-dark);
        display: flex;

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }

        /* align-items: center; */
        padding: 3rem 0 1.5rem;

        @media (min-width: 1400px) {

            & ._left_box,
            & ._right_box,
            & ._center_box {
                width: calc((100%/3));
            }
        }

        @media (min-width: 1200px) and (max-width: 1400px) {

            & ._left_box,
            & ._right_box {
                width: calc((100%/4));
            }

            & ._center_box {
                width: calc((100%/2));
            }
        }

        @media (min-width: 768px) and (max-width: 1200px) {

            & ._left_box {
                display: none;
                width: 0;
            }

            & ._right_box,
            & ._center_box {
                width: calc((100%/2));
            }
        }

        @media (max-width: 767px) {

            & ._left_box {
                display: none;
                width: 0;
            }

            & ._right_box,
            & ._center_box {
                width: 100%;
            }
        }

        & ._center_box {

            margin: 0 auto;

            @media (min-width: 992px) {
                padding: 0 3rem;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                padding: 0 3rem 1.5rem;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                padding: 0 3rem 1.5rem;
            }

            @media (max-width: 575px) {
                padding: 0 1.5rem 1.5rem;
            }

            & p:last-child {
                color: #fff;
                text-align: center;
                opacity: .5;
                font-weight: 300;

                @media (min-width: 1200px) {
                    font-size: 17px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    font-size: 12px;
                }

                @media (max-width: 575px) {
                    font-size: 12px;
                }
            }
        }

        & ._left_box {
            display: flex;
            flex-direction: column-reverse;

            & img {
                &:first-child {}

                &:last-child {
                    width: 150px;
                    height: 150px;

                    margin: 0 auto -20px;
                    background-color: var(--primary-gold);

                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
            }

        }

        & ._right_box {
            &>div {
                /* width: max-content; */
                position: relative;

                @media (min-width: 576px) and (max-width: 767px) {
                    margin-bottom: 100px;
                }

                @media (min-width: 425px) and (max-width: 575px) {
                    margin-bottom: 75px;
                }

                @media (max-width: 424px) {
                    margin-bottom: 50px;
                }

                & img {
                    &:first-child {
                        width: 80%;
                    }

                    &:last-child {
                        position: absolute;

                        @media (min-width: 992px) {
                            width: 150px;
                            height: 150px;
                            bottom: -50px;
                        }

                        @media (min-width: 768px) and (max-width: 991px) {
                            width: 100px;
                            height: 100px;
                            bottom: -25px;
                        }

                        @media (min-width: 576px) and (max-width: 767px) {
                            width: 150px;
                            height: 150px;
                            bottom: -50px;
                        }

                        @media (min-width: 425px) and (max-width: 575px) {
                            width: 125px;
                            height: 125px;
                            bottom: -50px;
                        }

                        @media (max-width: 424px) {
                            width: 100px;
                            height: 100px;
                            bottom: -25px;
                        }

                        right: 20%;
                        margin: 0 auto -20px;
                        background-color: var(--primary-gold);
                    }
                }
            }
        }

    }

    & .wedding_dishes {
        background-color: var(--primary-dark);
        padding: 3rem 0;

        & ._inner {
            width: var(--section-width);
            margin: 0 auto;

            & ._boxes {
                display: flex;
                align-items: center;

                @media (max-width: 991px) {
                    flex-wrap: wrap;
                }

                margin-top: 2.5rem;

                @media (min-width: 992px) {

                    & ._left_box,
                    & ._right_box,
                    & ._center_box {
                        width: calc((100%/3));
                    }

                    & ._center_box {
                        margin: 0 auto;
                    }
                }

                @media (max-width: 991px) {

                    & ._center_box {
                        width: 75%;
                        margin: 0 auto 3rem;
                    }

                    & ._left_box,
                    & ._right_box {
                        width: 100%;
                        margin-bottom: 3rem;
                    }
                }

                & ._center_box {
                    padding: 0 1rem;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        background-color: var(--primary-gold);
                        width: 30%;
                        height: 15px;
                        right: 20%;
                        top: -15px;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        background-color: var(--primary-gold);
                        width: 30%;
                        height: 15px;
                        left: 20%;
                        bottom: -15px;
                    }

                    & img {
                        width: 100%;
                    }
                }

                & ._dish {
                    display: flex;
                    width: 100%;

                    &._dish_left {
                        text-align: end;

                        & ._content {
                            margin-right: 1rem;
                        }
                    }

                    &._dish_right {
                        text-align: start;

                        & ._content {
                            margin-left: 1rem;
                        }
                    }

                    & ._content {
                        color: #fff;
                        flex: 1;

                        & .label {
                            font-weight: 700;
                            margin-bottom: .5rem;

                            @media (min-width: 992px) and (max-width: 1199px) {
                                font-size: 14px;
                            }
                        }

                        & .text {
                            font-weight: 300;
                            opacity: .8;

                            @media (min-width: 1200px) {
                                font-size: 14px;
                            }

                            @media (min-width: 992px) and (max-width: 1199px) {
                                font-size: 12px;
                            }
                        }
                    }

                    & .icon {
                        & svg {
                            @media (min-width: 1200px) {
                                width: 70px;
                                height: 70px;
                            }

                            @media (min-width: 992px) and (max-width: 1199px) {
                                width: 55px;
                                height: 55px;
                            }

                            @media (max-width: 991px) {
                                width: 55px;
                                height: 55px;
                            }
                        }
                    }
                }
            }
        }
    }

    & .wedding_text {
        background-color: var(--secondary-dark);
        padding: 3rem 0;

        & ._inner {
            width: var(--section-width);
            margin: 0 auto;
        }

        & ._content {
            margin-top: 1.5rem;
            display: flex;

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }

            & ._left_box,
            & ._right_box {
                @media (min-width: 768px) and (max-width: 1199px) {
                    width: calc((100% - 50px)/2);
                }

                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            & ._left_box {
                @media (min-width: 1200px) {
                    width: 500px;
                }

                & img {
                    width: 100%;
                }
            }

            & ._right_box {
                @media (min-width: 1200px) {
                    width: 630px;
                }

                @media (min-width: 768px) {
                    margin-left: 50px;
                    margin-top: 2rem;
                }

                @media (max-width: 767px) {
                    margin: 0 0 2rem;
                }

                & p:last-child {
                    color: #fff;
                    opacity: .5;

                    @media (min-width: 1200px) {
                        font-size: 17px;
                        width: 600px;
                    }

                    @media (min-width: 768px) and (max-width: 991px) {
                        font-size: 12px;
                    }

                    @media (max-width: 575px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}