.wedding_container {
    & .wedding_intro {

        background-color: var(--secondary-dark);
        display: flex;
        /* align-items: center; */
        padding: 3rem 0 1.5rem;

        & ._left_box,
        & ._right_box {
            width: 600px;
        }

        & ._center_box {
            /* flex: 1; */
            width: 500px;
            margin: 0 auto;
            padding: 0 3rem;

            & p:last-child {
                color: #fff;
                text-align: center;
                opacity: .5;
                font-weight: 300;
                font-size: 17px;
            }
        }

        & ._left_box {
            display: flex;
            flex-direction: column-reverse;

            & img {
                &:first-child {}

                &:last-child {
                    width: 200px;
                    height: 200px;
                    margin: 0 auto -20px;
                    background-color: var(--primary-gold);
                }
            }

        }

        & ._right_box {
            &>div {
                width: max-content;
                position: relative;

                & img {
                    &:first-child {}

                    &:last-child {
                        position: absolute;
                        width: 150px;
                        right: 0;
                        bottom: -50px;
                        height: 150px;
                        margin: 0 auto -20px;
                        background-color: var(--primary-gold);
                    }
                }
            }
        }

    }

    & .wedding_dishes {
        background-color: var(--primary-dark);
        padding: 3rem 0;

        & ._inner {
            width: var(--section-width);
            margin: 0 auto;

            & ._boxes {
                display: flex;
                align-items: center;
                margin-top: 2.5rem;

                & ._left_box,
                & ._right_box {
                    width: 430px;
                }

                & ._center_box {
                    /* flex: 1; */
                    width: 350px;
                    margin: 0 auto;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        background-color: var(--primary-gold);
                        width: 30%;
                        height: 15px;
                        right: 20%;
                        top: -15px;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: var(--primary-gold);
                        width: 30%;
                        height: 15px;
                        left: 20%;
                        bottom: -15px;
                    }

                    & img {
                        width: 100%;
                    }
                }

                & ._dish {
                    display: flex;

                    &._dish_left {
                        text-align: end;

                        & ._content {
                            margin-right: 1rem;
                        }
                    }

                    &._dish_right {
                        text-align: start;

                        & ._content {
                            margin-left: 1rem;
                        }
                    }

                    & ._content {
                        color: #fff;

                        & .label {
                            font-weight: 700;
                            margin-bottom: .5rem;

                        }

                        & .text {
                            font-weight: 300;
                            opacity: .8;
                            font-size: 14px;
                        }
                    }

                    & .icon {
                        & svg {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }

    & .wedding_text {
        background-color: var(--secondary-dark);
        padding: 3rem 0;

        & ._inner {
            width: var(--section-width);
            margin: 0 auto;
        }

        & ._content {
            margin-top: 1.5rem;
            display: flex;

            & ._left_box {
                width: 500px;

                & img {
                    width: 100%;
                }
            }

            & ._right_box {
                width: 630px;
                margin-left: 50px;
                margin-top: 2rem;

                & p:last-child {
                    color: #fff;
                    opacity: .5;
                    width: 600px;
                }
            }
        }
    }
}