.services_section {
    background-color: #101010;

    & .services_section_inner {
        width: var(--section-width);
        margin: 0 auto;
        padding: 3rem 0;

        & .title_container {
            width: max-content;
            margin: 0 auto;

            & .title {
                font-size: 3rem;
                text-align: center;
                margin-bottom: 0;
            }

            & .divider {
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    margin: 0 1rem;
                }

                & div {
                    flex: 1;
                    height: 1px;
                    background-color: #daa05d;
                }
            }
        }

        & .services_box {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;

            & .service_box {
                width: calc((100% - 12rem)/5);
                margin-right: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                &:last-of-type {
                    margin-right: 0;
                }



                & .icon {
                    width: max-content;
                    margin-bottom: .75rem;

                    & svg, & img {
                        height: 100px;
                    }
                }

                & .label {
                    font-size: 1.5rem;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                & .description {
                    font-size: .8rem;
                    color: #fff;
                    opacity: .5;
                    text-align: center;
                }
            }
        }
    }
}