:root {
    @media (min-width: 1400px) {
        --section-width: 1300px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        --section-width: 1000px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        --section-width: 900px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        --section-width: 700px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
        --section-width: 500px;
    }

    @media (min-width: 425px) and (max-width: 575px) {
        --section-width: 400px;
    }

    @media (max-width: 424px) {
        --section-width: 320px;
    }

    --primary-dark: #101010;
    --secondary-dark: #181818;
    --primary-gold: #DAA05D;
}